#mobile-root {
  max-width: 600px !important;
}

.title {
  font-weight: 600;
  font-size: 1.6rem;
}

.subtitle {
  font-weight: 600;
  font-size: 1.4rem;
}

.place-card-root {
  display: flex;
}

.place-card-title {
  text-align: start;
  font-weight: 600;
  font-size: 1.2rem;
}
