#mobile-root {
  max-width: 600px !important;
}

.title {
  font-weight: 600;
  font-size: 1.6rem;
}

.description-item {
  width: 100%;
  height: 70px;
  background-color: #dadada;
  border-radius: 8px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
}

.description-item > div {
  line-height: 1.1;
}

.des-title {
  color: #646464;
}

.des-content {
  font-weight: 500;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
